
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Orbis Health</title>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="build/css/custom.css" rel="stylesheet">
    <link href="build/css/custom-theme.css" rel="stylesheet">
    
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa"><img src="images/logo-icon.png" alt="Think Doctor"></i> <span><img src="images/logo-text.png" alt="Think Doctor"></span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                                <li><a href="diary.html"><i class="fa fa-book"></i> Diary</a></li>
                                <li><a href="#"><i class="fa fa-calendar"></i> Appointments</a></li>
                                <li><a href="#"><i class="fa fa-wheelchair-alt"></i> Patients</a></li>
                                <li><a href="#"><i class="fa fa-files-o"></i> Documents</a></li>
                                <li><a href="#"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
                                <li><a href="#"><i class="fa fa-tasks"></i> Tasks</a></li>
                                <li><a href="#"><i class="fa fa-universal-access"></i> Admin</a></li>
                                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                                <li><a href="#"><i class="fa fa-user-plus"></i> Account</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <div class="nav-title">
                            <h1>Medical Profit Float & <span>Doctors Flow</span></h1>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">Dr. John Doe
                                    <span class=" fa fa-angle-down"></span>
                                    <span class="last-login">[Last Login 12 Feb 2017 @ 16:12]</span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <form class="form-horizontal form-label-left row">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 class="col-md-2">Patient Search</h2>
                            <div class="col-md-8">
                                <div class="col-md-2 col-sm-9 col-xs-12 padding-null">
                                    <select class="form-control select-bg">
                                        <option>Name</option>
                                        <option>Phone</option>
                                        <option>NHS No</option>
                                    </select>
                                </div>
                                <div class="col-md-7 col-sm-9 col-xs-12 padding-null">
                                    <input type="text" class="form-control" placeholder="Search here...">
                                </div>
                                <div class="col-md-2 col-sm-9 col-xs-12 padding-null">
                                    <select class="form-control select-bg">
                                        <option>All</option>
                                        <option>Active</option>
                                        <option>Inactive</option>
                                        <option>Deceased</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 text-right">
                                <button type="button" class="btn btn-success" id="patient-search-btn" style="margin-right:0; min-width:10%;">Search</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_panel padding-null">
                            <div class="x_content">
                                <div class="x_title">
                                    <h2>Patient's List</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered patient-result table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 2%;">S.No</th>
                                                <th style="width: 20%;">Name , DOB &amp; NHS No</th>
                                                <th style="width: 23%;">Address</th>
                                                <th style="width: 15%;">Preferred doctor</th>
                                                <th class="text-center" style="width: 10%;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center"><span>1</span></td>
                                                <td>
                                                    <span>Mr.Williamson (Male)</span>
                                                    <span>02/01/1975</span>
                                                    <span>12345</span>
                                                </td>
                                                <td>
                                                    <span>123, Street name,</span>
                                                    <span>City name, State - 12345</span>
                                                    <span class="patient-ct"><i class="fa fa-mobile-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> williamson@gmail.com <i class="fa fa-check-circle" data-toggle="tooltip" data-title="Primary email" data-original-title="" title=""></i></span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> williamson2@gmail.com</span>
                                                </td>
                                                <td>
                                                    <span>Dr. John Doe</span>
                                                    <span>Clinic Name</span>
                                                    <span>London</span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="patient-action" data-toggle="tooltip" data-title="Edit" data-original-title="" title=""><a href="http://178.238.139.243/OrbisHealth_Sabari/patients-summary.html" data-toggle="modal"><i class="fa fa-pencil-square"></i></a></span>
                                                    <span class="patient-action"><a href="#" data-toggle="tooltip" data-title="Book Appointment" data-original-title="" title=""><i class="fa fa-calendar-plus-o"></i></a></span>
                                                    <span class="patient-status" data-toggle="tooltip" data-title="Active" data-original-title="" title=""><i class="fa fa-check-square"></i></span>
                                                    <span class="patient-status blue" data-toggle="tooltip" data-title="Info" data-original-title="" title=""><a href="#patient-info-modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"><span>2</span></td>
                                                <td>
                                                    <span>Mr.David Warner (Male)</span>
                                                    <span>02/01/1975</span>
                                                    <span>12345</span>
                                                </td>
                                                <td>
                                                    <span>123, Street name,</span>
                                                    <span>City name, State - 12345</span>
                                                    <span class="patient-ct"><i class="fa fa-mobile-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> david@gmail.com <i class="fa fa-check-circle" data-toggle="tooltip" data-title="Primary email" data-original-title="" title=""></i></span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> david_warner@yahoo.in</span>
                                                </td>
                                                <td>
                                                    <span>Dr. John Doe</span>
                                                    <span>Clinic Name</span>
                                                    <span>London</span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="patient-action" data-toggle="tooltip" data-title="Edit" data-original-title="" title=""><a href="http://178.238.139.243/OrbisHealth_Sabari/patients-summary.html" data-toggle="modal"><i class="fa fa-pencil-square"></i></a></span>
                                                    <span class="patient-action"><a href="#" data-toggle="tooltip" data-title="Book Appointment" data-original-title="" title=""><i class="fa fa-calendar-plus-o"></i></a></span>
                                                    <span class="patient-status" data-toggle="tooltip" data-title="Active" data-original-title="" title=""><i class="fa fa-check-square"></i></span>
                                                    <span class="patient-status blue" data-toggle="tooltip" data-title="Info" data-original-title="" title=""><a href="#patient-info-modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"><span>3</span></td>
                                                <td>
                                                    <span>Mr.Jadan Smith (Male)</span>
                                                    <span>02/01/2002</span>
                                                    <span>12325</span>
                                                </td>
                                                <td>
                                                    <span>123, Street name,</span>
                                                    <span>City name, State - 12345</span>
                                                    <span class="patient-ct"><i class="fa fa-mobile-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> jadan@gmail.com <i class="fa fa-check-circle" data-toggle="tooltip" data-title="Primary email" data-original-title="" title=""></i></span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> jadansmithr@yahoo.in</span>
                                                </td>
                                                <td>
                                                    <span>Dr. John Doe</span>
                                                    <span>Clinic Name</span>
                                                    <span>London</span>
                                                </td>

                                                <td class="text-center">
                                                    <span class="patient-action" data-toggle="tooltip" data-title="Edit" data-original-title="" title=""><a href="http://178.238.139.243/OrbisHealth_Sabari/patients-summary.html" data-toggle="modal"><i class="fa fa-pencil-square"></i></a></span>
                                                    <span class="patient-action"><a href="#" data-toggle="tooltip" data-title="Book Appointment" data-original-title="" title=""><i class="fa fa-calendar-plus-o"></i></a></span>
                                                    <span class="patient-status" data-toggle="tooltip" data-title="Active" data-original-title="" title=""><i class="fa fa-check-square"></i></span>
                                                    <span class="patient-status blue" data-toggle="tooltip" data-title="Info" data-original-title="" title=""><a href="#patient-info-modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"><span>4</span></td>
                                                <td>
                                                    <span>Mr.David Warner (Male)</span>
                                                    <span>02/01/1975</span>
                                                    <span>12345</span>
                                                </td>
                                                <td>
                                                    <span>123, Street name,</span>
                                                    <span>City name, State - 12345</span>
                                                    <span class="patient-ct"><i class="fa fa-mobile-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> david@gmail.com <i class="fa fa-check-circle" data-toggle="tooltip" data-title="Primary email" data-original-title="" title=""></i></span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> david_warner@yahoo.in</span>
                                                </td>
                                                <td>
                                                    <span>Dr. John Doe</span>
                                                    <span>Clinic Name</span>
                                                    <span>London</span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="patient-action" data-toggle="tooltip" data-title="Edit" data-original-title="" title=""><a href="http://178.238.139.243/OrbisHealth_Sabari/patients-summary.html" data-toggle="modal"><i class="fa fa-pencil-square"></i></a></span>
                                                    <span class="patient-status orange" data-toggle="tooltip" data-title="Inactive" data-original-title="" title=""><i class="fa fa-close"></i></span>
                                                    <span class="patient-status blue" data-toggle="tooltip" data-title="Info" data-original-title="" title=""><a href="#patient-info-modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a></span>
                                                    <!--<span class="patient-action"><a href="#" data-toggle="tooltip" data-title="Book Appointment"><i class="fa fa-calendar-plus-o"></i></a></span>
                    <span class="patient-action" data-toggle="tooltip" data-title="Info"><a href="#patient-info-modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a></span>-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"><span>5</span></td>
                                                <td>
                                                    <span>Mr.Jadan Smith (Male)</span>
                                                    <span>02/01/1980</span>
                                                    <span>12315</span>
                                                </td>
                                                <td>
                                                    <span>123, Street name,</span>
                                                    <span>City name, State - 12345</span>
                                                    <span class="patient-ct"><i class="fa fa-mobile-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-phone"></i> +01234567890</span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> david@gmail.com <i class="fa fa-check-circle" data-toggle="tooltip" data-title="Primary email" data-original-title="" title=""></i></span>
                                                    <span class="patient-ct"><i class="fa fa-envelope"></i> david_warner@yahoo.in</span>
                                                </td>
                                                <td>
                                                    <span>Dr. John Doe</span>
                                                    <span>Clinic Name</span>
                                                    <span>London</span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="patient-action" data-toggle="tooltip" data-title="Edit" data-original-title="" title=""><a href="http://178.238.139.243/OrbisHealth_Sabari/patients-summary.html" data-toggle="modal"><i class="fa fa-pencil-square"></i></a></span>
                                                    <span class="patient-status red" data-toggle="tooltip" data-title="Deceased" data-original-title="" title=""><i class="fa fa-eye-slash"></i></span>
                                                    <span class="patient-status blue" data-toggle="tooltip" data-title="Info" data-original-title="" title=""><a href="#patient-info-modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a></span>
                                                    <!--<span class="patient-action"><a href="#" data-toggle="tooltip" data-title="Book Appointment"><i class="fa fa-calendar-plus-o"></i></a></span>
                    <span class="patient-action" data-toggle="tooltip" data-title="Info"><a href="#patient-info-modal" data-toggle="modal"><i class="fa fa-info-circle"></i></a></span>-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <!-- /top tiles -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <p>&copy;2017 All Rights Reserved. <a href="https://coraltechnologies.co.uk/" target="_blank">Coral Technologies!</a></p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="build/js/custom.min.js"></script>
</body>
</html>
