 #map-canvas {
    height: 100%;
  }
 #map-canvas img {
  max-width: none !important;
}
#iw-container {
  margin-top: 20px;
  margin-top: 20px;
}
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-content img {
  float: right;
  margin: 0 5px 5px 10px; 
}
.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

  #map_wrapper {
    margin-top: 41px;
   height: 400px;
   border: 5px solid #ccc;
 }

 #map_canvas {
   width: 100%;
   height: 100%;
 }

 @media (min-width: 1200px) {
   .seven-cols .col-md-1,
   .seven-cols .col-sm-1,
   .seven-cols .col-lg-1 {
     width: 14.285714285714285714285714285714%;
     *width: 14.285714285714285714285714285714%;
   }
 }
 .show-on-hover:hover > ul.dropdown-menu { background:#146068; }
 .dropdown-menu-large .dropdown-header, .dropdown-menu-large .dropdown-header1, .dropdown-menu-large > li > ul > li > a, .dropdown-header {color:#fff !important;}
 .dropdown-menu-large .dropdown-header1 {border-bottom: 1px solid #fff !important;}
 .dropdown-menu>li>a {color:#fff !important;}
 .dropdown-menu>li>a:hover {color:#000 !important;}

 .dropdown-menu-large > li > ul > li > a:hover {color: #000 !important; background: #ececec !important;}


 p > a {font-size: 12px;
  color: #fff;}
  .nav-tabs {border-bottom:none; border: 1px solid #fff !important;}
  .tabs-left.nav-tabs>li.active>a, .tabs-left.nav-tabs>li.active>a:hover,.tabs-left.nav-tabs>li.active>a:focus
  {
   background: transparent;
   color: #fff;
   border-bottom-color: transparent;
   border: none;
   text-decoration: underline;
 }
 .tabs-left.nav>li>a:hover, .tabs-left.nav>li>a:focus {background: transparent; color: #fff; border-color: transparent; }
 .tabs-left.nav-tabs>li>a {color:#fff;}
 p {
   margin: 0 0 8px 0 !important;
 }
}
}
.badge-checkboxes .checkbox input[type="checkbox"],
.badge-checkboxes label.checkbox-inline input[type="checkbox"] {
 /*  Hide the checkbox, but keeps tabbing to it possible. */
 position: absolute;
 clip: rect(0 0 0 0);
}
.badge-checkboxes .checkbox label,
.badge-checkboxes label.checkbox-inline {
 padding-left:0; /* Remove space normally used for the checkbox */
}
.badge-checkboxes .checkbox input[type="checkbox"]:checked:focus + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:checked:focus + .badge {
 box-shadow:0 0 2pt 1pt #000;  /* Outline when checkbox is focused/tabbed to */
}
.badge-checkboxes .checkbox input[type="checkbox"]:focus + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:focus + .badge {
 box-shadow:0 0 2pt 1pt #000;  /* Outline when checkbox is focused/tabbed to */
}
.badge-checkboxes .checkbox input[type="checkbox"] + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"] + .badge {
 border:1px solid #fff; /* Add outline to badge */
 /* Make text in badge not selectable */
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
/* Give badges for disabled checkboxes an opacity of 50% */
.badge-checkboxes .checkbox input[type="checkbox"]:disabled + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:disabled + .badge
{
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 filter: alpha(opacity=50);
 -moz-opacity: 0.5;
 -khtml-opacity: 0.5;
 opacity: 0.5;   
}
/* Remove badge background-color and set text color for not checked options */
.badge-checkboxes .checkbox input[type="checkbox"]:not(:checked) + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:not(:checked) + .badge{
 background-color:Transparent;
 color:#000;
 font-weight: 400;
}
/*The following css only required for Bootstrap <= 3.1.0 */
.badge-checkboxes .checkbox {
 padding-left:0; /* Remove space normally used for the checkbox */
}
.badge-checkboxes .disabled label,
.badge-checkboxes label.checkbox-inline.disabled {
 cursor:not-allowed
}
/*--thejesh kumar css--*/

.listing-row-heading{
  background: #ddd; 
  padding: 4px; 
  border:3px solid #ececec;
}
.extrinfo-wrapper{
  background:#ddd;
  padding: 17px 28px 20px 0px; 
  border:3px solid #ececec;
}
.sideaddresswrapper{
  margin-bottom:5px;
  margin-top: 25px !important;
  margin-left: 10px !important;
  font-size: 13px;
  font-weight: 700;
}
.seven-cols{
  display: flex;
  flex-wrap: wrap;
}
.checkboxrow{
  flex:0 0 13%;
  margin-left: 3px;
  margin-right: 4px;
}
.checkboxrow.weekend{
  background:#e1e9ea;
}
.checkboxrow.weekend .badge{
  background:#000;
}
.checkboxrow .badge{
  display: block;
}
.checkboxrow .checkboxheader{
  text-align:center; 
  font-size: 11px;
}
@media (max-width: 640px){
  .checkboxrow{
    flex:1 0 20%;
  }
}
@media (max-width: 420px){
  .checkboxrow{
    flex:1 0 30%;
  }
}
@media (max-width: 360px){
  .checkboxrow{
    flex:1 0 31%;
  }
}